---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "Mi blog de Astro aprendizaje";

const allPosts = await Astro.glob("../pages/posts/*.md");
// const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
	<p>Aquí es donde voy a publicar sobre mi viaje de aprendizaje con Astro.</p>
	<ul>
		{
		allPosts.map((post) => (
			<BlogPost url={post.url} title={post.frontmatter.title} />
			// <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
		))
		}
	</ul>
</BaseLayout>
